<div align="center">
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
  width="<{$block.width}>" height="<{$block.height}>">
  <param name="allowFullScreen" value="true" />
  <param name="movie" value="<{$xoops_url}>/modules/tadgallery/gallery.swf" />
  <param name="quality" value="best" />
  <param name='FlashVars' value='xmlFile=<{$xoops_url}>/uploads/tadgallery/gallery_<{$block.sn}>.xml' />
  <param name="scale" value="noScale" />
  <embed src="<{$xoops_url}>/modules/tadgallery/gallery.swf" quality="best" FlashVars='xmlFile=<{$xoops_url}>/uploads/tadgallery/gallery_<{$block.sn}>.xml' scale="noScale" width="<{$block.width}>" height="<{$block.height}>" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
  </object>
</div>