<style type="text/css">
/* Scroller Box */
#scroller_container<{$block.options1}> {
 height: <{$block.options6}>px;
 overflow: hidden;
}
/* Scoller Box */

/* CSS Hack Safari */
#dummy {;# }

#scroller_container<{$block.options1}> {
 overflow: auto;
}
/* Scroller Box */
.scroller_container_blur{
    background-color: #ccc; /*shadow color*/
    color: inherit;
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 8px;
}

.scroller_container_shadow,
.scroller_container_shadow_content{
    position: relative;
    bottom: 2px;
    right: 2px;
}

.scroller_container_shadow{
    background-color: #666; /*shadow color*/
    color: inherit;
}

.scroller_container_shadow_content{
    background-color: #fff; /*background color of content*/
    color: #000; /*text color of content*/
    border: 1px solid #cfcfcf; /*border color*/
    padding: 4px 2px;
    text-align:center;
}
</style>

<script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/jscroller.js"></script>
<script language="javascript">
$(function() {
  var width=$('#scroller_container<{$block.options1}>_w').width();
  $('#scroller_container<{$block.options1}>').css('width',width+'px');
});
</script>
<div id="scroller_container<{$block.options1}>_w"></div>
<div id="scroller_container<{$block.options1}>">
  <div class="<{$block.options8}> jscroller2_speed-<{$block.options9}> jscroller2_mousemove">
   <{foreach from=$block.pics item=p}>
    <div class="scroller_container_blur">
      <div class="scroller_container_shadow">
        <div class="scroller_container_shadow_content">
          <a href="<{$xoops_url}>/modules/tadgallery/view.php?sn=<{$p.sn}>"><img src="<{$p.pic_url}>" alt="<{$p.title}>" title="<{$p.title}>" /></a>
          <div style="padding:4px;margin-top:4px;font-size:11px;color:#606060"><{$p.title}></div>
          <{$p.description}>
        </div>
      </div>
    </div>
   <{/foreach}>
  </div>
 </div>