<{$block.jquery_path}>
<style type="text/css">
ul#animated-portfolio-block<{$block.options1}>{
  list-style-type: none;
}
ul#animated-portfolio-block<{$block.options1}> li{
  list-style: none;
}
</style>
<script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/jquery.animated.innerfade/js/jquery.animated.innerfade.js"></script>
<script type="text/javascript">

$(document).ready( function(){
  $("ul#animated-portfolio-block<{$block.options1}>").animatedinnerfade({
  speed: 1000,
  timeout: 5000,
  type: "random",
  containerwidth: "<{$block.options5}>px",
  containerheight: "<{$block.options6}>px",
  animationSpeed: 5000,
  animationtype: "fade",
  bgFrame: "none",
  controlBox: "auto",
  controlBoxClass: "none",
  controlButtonsPath: "<{$xoops_url}>/modules/tadgallery/class/jquery.animated.innerfade/img",
  displayTitle: "none"
  });
} );
</script>

<ul id="animated-portfolio-block<{$block.options1}>">
<{foreach from=$block.pics item=p}>
  <li>
    <a href="<{$xoops_url}>/modules/tadgallery/view.php?sn=<{$p.sn}>"><img src="<{$p.pic_url}>" alt="<{$p.title}>" title="<{$p.title}>" /></a>
  </li>
<{/foreach}>
</ul>