<{includeq file="db:tadgallery_list_header.html"}>

<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadgallery/module.css" />

<!--相片-->
<{if $photo}>
  <div class="row-fluid">
    <div class="span12" id="tg_container">
      <{foreach item=photo from=$photo}>
        <div class='PhotoCate' id="PhotoCate_<{$photo.sn}>">
          <a class='Photo' id="item_photo_<{$photo.sn}>" title="<{$photo.sn}>" href="<{$photo.photo_l}>">
            <div style="width:135px;height:100px;background: white url('<{$photo.photo_s}>') no-repeat center center;cursor: pointer; background-size: cover;" class="show_photo">
            </div>

            <div class="pic_title2"><{$photo.title}></div>

          </a>
          <{if $photo.photo_del}>
            <button onclick="javascript:delete_tad_gallery_func(<{$photo.sn}>)" class="btn btn-mini btn-danger" style="position:absolute;bottom:2px;left:2px;display:none;"><{$smarty.const._TAD_DEL}></button>
          <{/if}>

          <{if $photo.photo_edit}>
            <button href="ajax.php?op=edit_photo&sn=<{$photo.sn}>" class="btn btn-mini btn-warning fancybox.ajax editbtn" style="position:absolute;bottom:2px;right:2px;display:none;"><{$smarty.const._TAD_EDIT}></button>
          <{/if}>
        </div>
      <{/foreach}>

    </div>
  </div>

  <script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/jquery.animate-shadow.js"></script>

  <script>
    $(function(){
      $('.Photo').colorbox({rel:'group',photo:true,maxWidth:'100%',maxHeight:'100%', title: function(){
          var sn = $(this).attr('title');
          return '<a href="view.php?sn=' + sn + '#photo' + sn + '" target="_blank"><{$smarty.const._MD_TADGAL_VIEW_PHOTO}></a>';
        }});
    });

    function delete_tad_gallery_func(sn){
      var sure = window.confirm('<{$smarty.const._TAD_DEL_CONFIRM}>');
      if (!sure)  return;
      //location.href="ajax.php?op=delete_tad_gallery&sn=" + sn;
      $.post("ajax.php", { op: "delete_tad_gallery", sn: sn },
        function(data) {
        $('#PhotoCate_'+sn).remove();
      });
    }
  </script>


<{else}>
  <div class="hero-unit">
    <{$smarty.const._MD_TADGAL_EMPTY}>
  </div>
<{/if}>