<div class="container-fluid">
  <style>
    #sortable { list-style-type: none;  }
    #sortable li { list-style-type: none; float:left}
    .thumb_func{background-color:rgb(234,234,234)}
  </style>

  <script language="JavaScript">
    $().ready(function(){
      $(".thumb").thumbs();
      $("#sortable").sortable({ opacity: 0.6, cursor: 'move', update: function(){
  			var order = $(this).sortable("serialize");
  			$.post("save_sort.php", order, function(theResponse){
  			  $("#save_msg").html(theResponse);
  			});
  		}
  		});

      $("#clickAll").click(function() {
        var x = document.getElementById("clickAll").checked;
        if(x){
          $(".photo").each(function() {
            $(this).attr("checked", true);
          });
        }else{
         $(".photo").each(function() {
             $(this).attr("checked", false);
         });
        }
      });


    });



    function check_one(id_name,change){
      if(document.getElementById(id_name).checked && change){
        document.getElementById(id_name).checked = false;
      }else{
        document.getElementById(id_name).checked = true;
      }
    }
  </script>


  <form action="main.php" method="post" name="form1" class="form-horizontal" role="form">
    <div class="row">
      <div class="col-md-3">
        <div style="height: 200px; overflow: auto;">
          <{$ztree_code}>
        </div>


        <h3><{$smarty.const._MA_TADGAL_THE_ACT_IS}></h3>
        <div class="row">
          <label class="col-md-3 radio">
            <input type="radio" name="op" value="del" id="del"><{$smarty.const._TAD_DEL}>
          </label>

          <label class="col-md-4 radio">
            <input type="radio" name="op" value="add_good" id="add_good"><{$smarty.const._MA_TADGAL_ADD_GOOD}>
          </label>

          <label class="col-md-4 radio">
            <input type="radio" name="op" value="del_good" id="del_good"><{$smarty.const._MA_TADGAL_DEL_GOOD}>
          </label>
        </div>

        <div class="row">
          <label class="col-md-4 radio">
            <input type="radio" name="op" value="move" id="move"><{$smarty.const._MA_TADGAL_MOVE_TO}>
          </label>
          <div class="col-md-8">
            <select name="new_csn" onChange="check_one('move',false)"  class="col-md-12">
              <{$option}>
            </select>
          </div>
        </div>

        <div class="row">
          <label class="col-md-4 radio">
            <input type="radio" name="op" value="add_title" id="add_title"><{$smarty.const._MA_TADGAL_ADD_TITLE}>
          </label>

          <div class="col-md-8">
            <input type="text" name="add_title"  class="col-md-12" onClick="check_one('add_title',false)" onkeypress="check_one('add_title',false)">
          </div>
        </div>


        <div class="row">
          <label class="col-md-4 radio">
            <input type="radio" name="op" value="add_description" id="add_description"><{$smarty.const._MA_TADGAL_ADD_DESCRIPTION}>
          </label>

          <div class="col-md-8">
            <textarea name="add_description"  class="col-md-12" onClick="check_one('add_description',false)" onkeypress="check_one('add_description',false)"></textarea>
          </div>
        </div>


        <div class="row">
          <label class="col-md-4 radio">
            <input type="radio" name="op" value="remove_tag" id="remove_tag"><{$smarty.const._MA_TADGAL_REMOVE_TAG}>
          </label>
        </div>


        <div class="row">
          <label class="col-md-4 radio">
            <input type="radio" name="op" value="add_tag" id="add_tag"><{$smarty.const._MA_TADGAL_TAG}>
          </label>

          <div class="col-md-8">
            <input type="text" name="new_tag" class="col-md-12" placeholder="<{$smarty.const._MA_TADGAL_TAG_TXT}>" onClick="check_one('add_tag',false)" onkeypress="check_one('add_tag',false)">
          </div>
        </div>

        <div class="row">
          <{$tag_select}>
        </div>

        <input type="hidden" name="csn" value="<{$csn}>">
        <input type="submit" value="<{$smarty.const._MA_TADGAL_GO}>">

      </div>

      <div class="col-md-9">
        <div class="row">
          <{if $photo}>
            <label class="checkbox col-md-2">
              <input type="checkbox" id="clickAll" >
              <{$smarty.const._MA_TADGAL_SELECT_ALL}>
            </label>
          <{/if}>

          <{$mode_select}>
          <{$link_to_cate}>
          <div id="save_msg"></div>
        </div>

        <{if $photo}>
          <div class="row">
            <ul id="sortable">
              <{foreach item=photo from=$photo}>
                <li id="recordsArray_<{$photo.sn}>" class="thumb_func">
                  <a href="javascript:check_one('p<{$photo.sn}>',true)" class="thumb">
                    <img data-src="<{$photo.photo_s}>" src="<{$photo.photo_s}>" <{if $photo.title}>alt="<{$photo.title}><{else}>sort:<{$photo.photo_sort}><{/if}>" title="sort:<{$photo.photo_sort}>">
                  </a>
                  <div style="font-size:11px; width:130px; word-break: break-all;">
                    <label class="checkbox-inline">
                      <input type="checkbox" id="p<{$photo.sn}>" name="pic[]" value="<{$photo.sn}>" class="p<{$photo.db_csn}> photo">
                      <{if $photo.good=='1'}><i class="icon-star"></i><{/if}>
                      <{$photo.filename}>
                    </label>
                  </div>
                </li>
              <{/foreach}>
            </ul>
          </div>
        <{else}>
          <div class="row">
            <div class="alert alert-info" style="margin-top: 30px;"><{$smarty.const._MA_TADGAL_NEED_CATE}></div>
          </div>
        <{/if}>

      </div>
    </div>

  </form>
  <{$jquery}>
</div>