<{$toolbar}>
<{$ztree_cate_code}>

<script type="text/javascript">

  $(document).ready(function(){
    make_option('of_csn_menu');
    make_option('m_of_csn_menu');
  });

  function make_option(menu_name){
    $.post('ajax_menu.php',  {of_csn: 0} , function(data) {
      $('#'+menu_name+'1').html(data);
    });

    $('.'+menu_name).change(function(){
      var menu_id= $(this).attr('id');
      var len=menu_id.length-1;
      var next_num = Number(menu_id.charAt(len))+1
      var next_menu = menu_name + next_num;
      $.post('ajax_menu.php',  {of_csn: $('#'+menu_id).val()} , function(data) {
        if(data==""){
          $('#'+next_menu).hide();
        }else{
          $('#'+next_menu).show();
          $('#'+next_menu).html("<option value=''></option>"+data);
        }

      });
    });
  }

  function chk_csn(csn, new_csn){
    if(csn=="0" && new_csn==""){
      alert("<{$smarty.const._MD_TADGAL_NEED_CATE}>");
      return false;
    }else{
      return true;
    }
  }
</script>

<div id="jquery_tabs_tg_<{$now}>">
  <ul>
    <li><a href="#upload_one_pic"><span><{$smarty.const._MD_INPUT_FORM}></span></a></li>
    <li><a href="#upload_pics"><span><{$smarty.const._MD_TADGAL_MUTI_INPUT_FORM}></span></a></li>
    <li><a href="#upload_zip_pics"><span><{$smarty.const._MD_TADGAL_ZIP_IMPORT_FORM}></span></a></li>
    <li><a href="import.php#import" id="import"><span><{$smarty.const._MD_TADGAL_PATCH_IMPORT_FORM}></span></a></li>
  </ul>


  <div id="upload_one_pic">

    <form action="uploads.php" method="post" id="myForm" enctype="multipart/form-data" onsubmit="return chk_csn(this.csn.value,this.new_csn.value);" class="form-horizontal" role="form">

      <div class="form-group">
        <label class="col-md-2 control-label"><{$smarty.const._MD_TADGAL_CSN}></label>
        <div class="col-md-10 controls">
          <select name="of_csn_menu1" id="of_csn_menu1" class="of_csn_menu"><option value=''></option></select>
          <select name="of_csn_menu2" id="of_csn_menu2" class="of_csn_menu" style="display: none;"></select>
          <select name="of_csn_menu3" id="of_csn_menu3" class="of_csn_menu" style="display: none;"></select>
          <select name="of_csn_menu4" id="of_csn_menu4" class="of_csn_menu" style="display: none;"></select>
          <select name="of_csn_menu5" id="of_csn_menu5" class="of_csn_menu" style="display: none;"></select>
          <select name="of_csn_menu6" id="of_csn_menu6" class="of_csn_menu" style="display: none;"></select>
          <select name="of_csn_menu7" id="of_csn_menu7" class="of_csn_menu" style="display: none;"></select>
          <input type="text" name="new_csn" placeholder="<{$smarty.const._MD_TADGAL_NEW_CSN}>" style="width: 200px;">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"><{$smarty.const._MD_TADGAL_PHOTO}></label>
        <div class="col-md-10 controls">
          <input type="file" name="image">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"><{$smarty.const._MD_TADGAL_TITLE}></label>
        <div class="col-md-10 controls">
          <input type="text" name="title" class="form-control" value="<{$title}>">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"><{$smarty.const._MD_TADGAL_DESCRIPTION}></label>
        <div class="col-md-10 controls">
          <textarea style="min-height: 64px;font-size:12px;" name="description" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"><{$smarty.const._MD_TADGAL_TAG}></label>
        <div class="col-md-10 controls">
          <input type="text" name="new_tag" class="form-control" placeholder="<{$smarty.const._MD_TADGAL_TAG_TXT}>">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10 controls">
          <{$tag_select}>
          <input type="hidden" name="sn" value="<{$sn}>">
          <input type="hidden" name="op" value="<{$op}>">
          <button type="submit" class="btn btn-primary"><{$smarty.const._MD_SAVE}></button>
        </div>
      </div>
    </form>
  </div>



  <div id="upload_pics">

    <form action="uploads.php" method="post" id="myForm_upload_pics" enctype="multipart/form-data" onsubmit="return chk_csn(this.csn.value,this.new_csn.value);" class="form-horizontal" role="form">

      <div class="form-group">
        <label class="col-md-2 control-label"><{$smarty.const._MD_TADGAL_CSN}></label>
        <div class="col-md-10 controls">
          <select name="of_csn_menu1" id="m_of_csn_menu1" class="m_of_csn_menu"><option value=''></option></select>
          <select name="of_csn_menu2" id="m_of_csn_menu2" class="m_of_csn_menu" style="display: none;"></select>
          <select name="of_csn_menu3" id="m_of_csn_menu3" class="m_of_csn_menu" style="display: none;"></select>
          <select name="of_csn_menu4" id="m_of_csn_menu4" class="m_of_csn_menu" style="display: none;"></select>
          <select name="of_csn_menu5" id="m_of_csn_menu5" class="m_of_csn_menu" style="display: none;"></select>
          <select name="of_csn_menu6" id="m_of_csn_menu6" class="m_of_csn_menu" style="display: none;"></select>
          <select name="of_csn_menu7" id="m_of_csn_menu7" class="m_of_csn_menu" style="display: none;"></select>
          <input type="text" name="new_csn" placeholder="<{$smarty.const._MD_TADGAL_NEW_CSN}>" style="width: 200px;">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"><{$smarty.const._MD_TADGAL_PHOTO}></label>
        <div class="col-md-10 controls">
          <input type="file" name="upfile[]" multiple="multiple" class="multi">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10 controls">
          <input type="hidden" name="op" value="upload_muti_file">
          <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
        </div>
      </div>

    </form>
  </div>



  <div id="upload_zip_pics">
    <form action="uploads.php" method="post" id="myForm_upload_pics" enctype="multipart/form-data" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-md-3 control-label"><{$smarty.const._MD_TADGAL_ZIP}></label>
        <div class="col-md-9 controls">
          <input type="file" name="zipfile">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10 controls">
          <input type="hidden" name="op" value="upload_zip_file">
          <button type="submit" class="btn btn-primary"><{$smarty.const._MD_SAVE}></button>
        </div>
      </div>

    </form>
  </div>
</div>