<style>
  .csn_menu,.of_csn_menu,.m_csn_menu,.p_csn_menu{
    width: 130px;
    padding: 4px;
    border: 1px solid gray;
    font-size:12px;
  }
</style>
<div class="container-fluid">
  <script>
    $(document).ready(function(){
      <{if $path_arr}>
        <{foreach from=$path_arr key=i item=sn}>
          make_option('of_csn_menu','<{$i}>','<{$sn.of_csn}>','<{$sn.def_csn}>');
        <{/foreach}>
      <{else}>
        make_option('of_csn_menu',0,0,0);
      <{/if}>
    });

    function make_option(menu_name , num , of_csn , def_csn){
      $('#'+menu_name+num).show();
      $.post('../ajax_menu.php',  {'of_csn': of_csn , 'def_csn': def_csn, 'chk_view': 0, 'chk_up': 0} , function(data) {
        $('#'+menu_name+num).html("<option value=''>/</option>"+data);
      });

      $('.'+menu_name).change(function(){
      var menu_id= $(this).attr('id');
      var len=menu_id.length-1;
      var next_num = Number(menu_id.charAt(len))+1
        var next_menu = menu_name + next_num;
        $.post('../ajax_menu.php',  {'of_csn': $('#'+menu_id).val(), 'chk_view': 0, 'chk_up': 0} , function(data) {
          if(data==""){
            $('#'+next_menu).hide();
          }else{
            $('#'+next_menu).show();
            $('#'+next_menu).html("<option value=''>/</option>"+data);
          }
        });
      });
    }

    function delete_tad_gallery_cate_func(csn){
      var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
      if (!sure)  return;
      location.href="cate.php?op=delete_tad_gallery_cate&csn=" + csn;
    }

  </script>

  <div class="row-fluid">
    <div class="span3">
      <div id="save_msg"></div>

      <a href="cate.php?op=tad_gallery_cate_form" class="btn btn-primary"><{$smarty.const._MA_TADGAL_ADD_CATE}></a>
      <div style="height: 300px; overflow: auto;">
        <{$ztree_code}>
      </div>
    </div>
    <div class="span9">
      <{if $now_op=="tad_gallery_cate_form"}>

        <form action="cate.php" method="post" id="myForm" enctype="multipart/form-data" class="form-horizontal" role="form">

        <{if $csn}>
          <div class="control-group">
            <label class="span3 control-label">
            </label>
            <div class="span9 controls">
              <h2><{$title}></h2>
              <div class="alert alert-info">
                <div class="btn-group">
                  <a href="javascript:delete_tad_gallery_cate_func(<{$csn}>);" class="btn btn-danger"><{$smarty.const._TAD_DEL}></a>
                  <a href="cate.php?op=re_thumb&csn=<{$csn}>" class="btn btn-info"><{$smarty.const._MA_TADGAL_RE_CREATE_THUMBNAILS_ALL}></a>
                  <a href="cate.php?op=re_thumb&kind=m&csn=<{$csn}>" class="btn btn-info"><{$smarty.const._MA_TADGAL_RE_CREATE_THUMBNAILS_M}></a>
                  <a href="cate.php?op=re_thumb&kind=s&csn=<{$csn}>" class="btn btn-info"><{$smarty.const._MA_TADGAL_RE_CREATE_THUMBNAILS_S}></a>
                </div>
              </div>
            </div>
          </div>
        <{/if}>

          <div class="control-group">
            <label class="span3 control-label">
              <{$smarty.const._MA_TADGAL_OF_CSN}>
            </label>
            <div class="span9 controls">
              <select name="of_csn_menu[0]" id="of_csn_menu0" class="of_csn_menu span3"><option value=''></option></select>
              <select name="of_csn_menu[1]" id="of_csn_menu1" class="of_csn_menu span3" style="display: none;"></select>
              <select name="of_csn_menu[2]" id="of_csn_menu2" class="of_csn_menu span3" style="display: none;"></select>
              <select name="of_csn_menu[3]" id="of_csn_menu3" class="of_csn_menu span3" style="display: none;"></select>
              <select name="of_csn_menu[4]" id="of_csn_menu4" class="of_csn_menu span3" style="display: none;"></select>
              <select name="of_csn_menu[5]" id="of_csn_menu5" class="of_csn_menu span3" style="display: none;"></select>
              <select name="of_csn_menu[6]" id="of_csn_menu6" class="of_csn_menu span3" style="display: none;"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="span3 control-label">
              <{$smarty.const._MA_TADGAL_CATE_SHOW_MODE}>
            </label>
            <div class="span9 controls">
              <select name="show_mode" class="span12">
                <{$cate_show_option}>
              </select>
            </div>
          </div>


          <div class="control-group">
            <label class="span3 control-label">
              <{$smarty.const._MA_TADGAL_TITLE}>
            </label>
            <div class="span9 controls">
              <input type="text" name="title" class="span12 " value="<{$title}>" placeholder="<{$smarty.const._MA_TADGAL_TITLE}>">
            </div>
          </div>

          <div class="control-group">
            <label class="span3 control-label">
              <{$smarty.const._MA_TADGAL_PASSWD}>
            </label>
            <div class="span9 controls">
              <input type="text" name="passwd" class="span12" value="<{$passwd}>" placeholder="<{$smarty.const._MA_TADGAL_PASSWD_DESC}>">
            </div>
          </div>

          <div class="control-group">
            <label class="span3 control-label">
              <{$smarty.const._MA_TADGAL_ENABLE_GROUP}>
            </label>
            <div class="span9 controls">
              <{$enable_group}>
            </div>
          </div>

          <div class="control-group">
            <label class="span3 control-label">
              <{$smarty.const._MA_TADGAL_ENABLE_UPLOAD_GROUP}>
            </label>
            <div class="span9 controls">
              <{$enable_upload_group}>
            </div>
          </div>

          <{if $csn}>
            <div class="control-group">
              <label class="span3 control-label">
                <{$smarty.const._MA_TADGAL_COVER}>
              </label>
              <div class="span3">
                <img src="<{$cover_default}>" id="pic" class="img-rounded img-responsive" alt="<{$smarty.const._MA_TADGAL_COVER}>">
              </div>
              <div class="span6 controls">
                  <select class="span12" name="cover" size=6 onChange="document.getElementById('pic').src='<{$smarty.const.XOOPS_URL}>/uploads/tadgallery/'+ this.value">
                    <{$cover_select}>
                  </select>
              </div>
            </div>
          <{/if}>

          <div class="control-group">
            <div class="span12 text-center">
              <input type="hidden" name="sort" value="<{$sort}>">
              <input type="hidden" name="csn" value="<{$csn}>">
              <input type="hidden" name="op" value="<{$op}>">
              <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
            </div>
          </div>

        </form>
      <{/if}>
    </div>
  </div>







</div>