<{if $albums}>
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadgallery/module.css" />
<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/tadgallery/class/jquery.thumbs/jquery.thumbs.css" />
<script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/jquery.thumbs/jquery.thumbs.js"></script>
<script language="JavaScript">
  $().ready(function(){
    $(".thumb").thumbs();
  });
</script>

  <div class="row-fluid">
    <ul class="thumbnails">
    <{foreach item=album from=$albums}>
      <{if $album.album_lock}>
        <script type="text/javascript">
          $(document).ready(function(){
            $("#pass_col_<{$photo.csn}>").hide();
              $(".GalleryCate").click(function(){
              $("#cate_pass_title_<{$photo.csn}>").hide();
              $("#pass_col_<{$photo.csn}>").show();
            });
          });
        </script>
        <div style="background-image:url(<{$album.cover_pic}>);border:0px solid transparent;" class="GalleryCate">
          <div class="GalleryCate_txt">
            <div id="cate_pass_title_<{$photo.csn}>" style="vertical-align: middle;text-align:center;border:0px;width:100px;margin:0px auto;padding-top:105px;color:#606060;font-size:11px;">
              <img src="images/view_lock.gif" alt="view_lock.gif, 1.4kB" title="View lock" border="0" align="absmiddle">
              <{$photo.title}>
            </div>
            <div id="pass_col_<{$photo.csn}>" style="vertical-align: middle;text-align:center;border:0px;width:100px;margin:0px auto;padding-top:105px;color:#606060;font-size:11px;">
              <form action="index.php" method="post" style="display:inline;">
                <div class="input-append">
                  <input class="span9" name="passwd" id="appendedInputButton" type="password" value="">
                  <input type="hidden" name="csn" value="<{$photo.csn}>">
                  <button class="btn" type="submit">Go</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      <{else}>
        <li class="span3">
          <div class="thumbnail">
            <div class="thumb_height" style="background-color:black;position:relative;height:160px;overflow:hidden;">
              <a href="<{$xoops_url}>/modules/tadgallery/index.php?csn=<{$album.csn}>">
                <img src="<{$album.cover_pic}>" alt="<{$album.title}>" style="z-index:1;">
                <div style="font-size:1em;font-weight:bold;color:#FFFFCC;position:absolute;bottom:2px;left:10px;z-index:2;text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px -1px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000;"><{$album.title}></div>
              </a>
            </div>
          </div>
        </li>
      <{/if}>
    <{/foreach}>
  </ul>
  </div>
  <hr>
<{/if}>