<{$bootstrap}>
<{$jquery}>


<link rel="stylesheet" href="<{$xoops_url}>/modules/tadgallery/class/miromannino-Justified/js/jquery-colorbox/colorbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/miromannino-Justified/js/jquery-colorbox/jquery.colorbox-min.js"></script>
<link rel="stylesheet" href="<{$xoops_url}>/modules/tadgallery/class/miromannino-Justified/css/jquery.justifiedgallery.css" type="text/css" media="all" />
<script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/miromannino-Justified/js/jquery.justifiedgallery.js"></script>

<!--工具列-->
<div class="row-fluid">
  <div class="span9"><{$toolbar}></div>
  <div class="text-right span3">
    <select onChange="location.href='index.php?show_uid=' + this.value" class="span12">
      <{$author_option}>
    </select>
  </div>
</div>


<!--下拉選單及目前路徑-->
<div class="row-fluid">
  <div class="span3">
    <select onChange="location.href='index.php?csn=' + this.value" class="span12">
      <{$cate_option}>
    </select>
  </div>
  <div class="span9">
    <{$path}>
  </div>
</div>

<!--相簿-->
<{includeq file="db:tg_albums.html"}>



<!--相片-->
<{if $photo}>
  <div class="row-fluid">
    <div class="span12" id="tg_container">
      <{foreach item=photo from=$photo}>
        <a href="view.php?sn=<{$photo.sn}>" title="<{$photo.title}>">
          <img alt="<{$photo.title}>" title="<{$photo.title}>" src="<{$photo.photo_m}>" />
        </a>
      <{/foreach}>
    </div>
  </div>

  <script type="text/javascript">
    $("#tg_container").justifiedGallery({
      "rowHeight" : 110,
      "sizeRangeSuffixes" : {
        "lt100":"",
        "lt240":"",
        "lt320":"",
        "lt500":"",
        "lt640":"",
        "lt1024":""
      },
      "usedSizeRange" : "lt240",
      "margins" : 5,
      "target" : "_blank"
    });
  </script>
<{else}>
  <div class="hero-unit">
    <{$smarty.const._MD_TADGAL_EMPTY}>
  </div>
<{/if}>