<{$bootstrap}>

<{$jquery}>

<style>
.tg_item {
  width:202px;
  margin: 10px;
  float: left;
  border:none;
  background-color:rgb(254,254,254);
}
.outline{
  color:rgb(32,32,32);
  font-size:11pt;
  display:block;
  margin:0px;
  padding:15px 4px;
  border-top:1px solid #D0D0D0;
  border-bottom:1px solid #D0D0D0;
  text-align:center;
}
.photo_description{
  font-size:12px;
  line-height:1.8;
  color:rgb(48,48,48);
  padding:6px;
}
.photo_info{
  font-size:10px;
  color:rgb(128,128,128);
  border-top:1px solid #D0D0D0;
  padding:3px 6px;
}
</style>


<div class="row-fluid">
<div class="span9"><{$toolbar}></div>
<div class="text-right span3"><{$cate_option}></div>
</div>

<div class="row-fluid">
  <div class="span12">
    <{$path}>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div id="tg_container">
        <{foreach item=photo from=$photo}>
          <{if $photo.photo_m}>
            <div class="tg_item" id="item_photo_<{$photo.sn}>">
              <div class="show_photo" style="position:relative">
                <a href="view.php?sn=<{$photo.sn}>">
                <img src="<{$photo.photo_m}>" class="rounded" data-corner="top 5px" />
                </a>

                <{if $photo.photo_del}>
                <a href="javascript:delete_tad_gallery_func(<{$photo.sn}>)" class="btn btn-mini btn-danger" style="position:absolute;bottom:2px;left:2px;display:none;"><{$smarty.const._TAD_DEL}></a>
                <{/if}>

                <{if $photo.photo_edit}>
                <a href="ajax.php?op=edit_photo&sn=<{$photo.sn}>" class="btn btn-mini fancybox.ajax editbtn" style="position:absolute;bottom:2px;right:2px;display:none;"><{$smarty.const._TAD_EDIT}></a>
                <{/if}>
              </div>

              <div <{if $photo.title}>class="outline"<{/if}>>
                <a href="view.php?sn=<{$photo.sn}>" id="title<{$photo.sn}>"><{$photo.title}></a>
              </div>

              <div <{if $photo.description}>class="photo_description"<{/if}> id="description<{$photo.sn}>">
                <{$photo.description}>
              </div>

              <div class="row-fluid">
                <div class="span4 photo_info">
                  <i class="icon-user"></i><{$photo.counter}>
                </div>
                <div class="span8 photo_info text-right">
                  <{$photo.post_date}>
                </div>
              </div>

            </div>
          <{elseif $photo.album}>

            <div class="tg_item" id="item_album_<{$photo.csn}>">
              <div class="show_photo" style="position:relative">

                <{if $photo.album_lock}>
                    <img src="images/cadenas.png" class="rounded" data-corner="top 5px" />
                <{else}>
                  <a href="index.php?csn=<{$photo.csn}>">
                    <img src="<{$photo.album}>" class="rounded" data-corner="top 5px" />
                  </a>
                <{/if}>


                <{if $photo.album_del}>
                <a href="javascript:delete_tad_gallery_func(<{$photo.sn}>)" class="btn btn-mini btn-danger" style="position:absolute;bottom:2px;left:2px;display:none;"><{$smarty.const._TAD_DEL}></a>
                <{/if}>

                <{if $photo.album_edit}>
                <a href="ajax.php?op=edit_album&csn=<{$photo.csn}>" class="btn btn-mini fancybox.ajax editbtn" style="position:absolute;bottom:2px;right:2px;display:none;"><{$smarty.const._TAD_EDIT}></a>
                <{/if}>

              </div>
              <{if $photo.album_lock}>
                <{if $photo.title}>
                  <div class="outline" style="background-color:#F0F0F0;">
                    <i class="icon-lock"></i><{$photo.title}>
                  </div>
                <{/if}>

                <div class="photo_description" id="description<{$photo.csn}>" style="background-color:#F0F0F0;">
                  <form action="index.php" method="post" style="display:inline;">
                    <input type="password" name="passwd" class="span10">
                    <input type="hidden" name="csn" value="<{$photo.csn}>">
                    <input type="submit" value="Go" class="btn" class="span2">
                  </form>
                </div>
              <{else}>
                <{if $photo.title}>
                  <div class="outline">
                    <a href="index.php?csn=<{$photo.csn}>" id="albumTitle<{$photo.csn}>">
                    <{$photo.title}>
                    </a>
                  </div>
                <{/if}>

                <div class="photo_description" id="description<{$photo.csn}>">
                  <i class="icon-folder-open"></i> <{$photo.dir_counter}>
                  <i class="icon-picture"></i> <{$photo.file_counter}>
                </div>
              <{/if}>
          </div>

        <{/if}>
      <{/foreach}>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/jquery.masonry.min.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/jquery-outline-1.3.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/jquery.corner.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/tadgallery/class/jquery.animate-shadow.js"></script>

<link rel='stylesheet' href='<{$xoops_url}>/modules/tadtools/fancyBox/source/jquery.fancybox.css' type='text/css' media='all'>
<script type="text/javascript" src="<{$xoops_url}>/modules/tadtools/fancyBox/source/jquery.fancybox.js"></script>


<script>
 $(function(){

   var $container = $('#tg_container');
   $container.imagesLoaded(function(){
     $container.masonry({
       itemSelector : '.tg_item',
       isFitWidth:true,
       isAnimated: true
     });
   });

  $(".editbtn").fancybox();

  //$(".outline").outlineLetters({color: '#E0E0E0', size: 1});
  $('.show_photo').hover(function(){$(this).children('.btn').css('display','inline')},function(){$(this).children('.btn').css('display','none')});
  $('.tg_item').animate({boxShadow: '0 0 8px #D0D0D0'});
  $('.rounded').corner("round 4px");
});

function delete_tad_gallery_func(sn){
  var sure = window.confirm('<{$smarty.const._TAD_DEL_CONFIRM}>');
  if (!sure)  return;
  //location.href="ajax.php?op=delete_tad_gallery&sn=" + sn;
  $.post("ajax.php", { op: "delete_tad_gallery", sn: sn },
    function(data) {
    $('#item_photo_'+sn).remove();
    $('#tg_container').masonry('reload');
  });
}
</script>