<{$bootstrap}>
<p>
<{$toolbar}>
</p>

<{$jquery}>

<link rel="stylesheet" href="class/jquery.bxslider/jquery.bxslider.css" type="text/css" />
<link rel='stylesheet' href='<{$xoops_url}>/modules/tadtools/fancyBox/source/jquery.fancybox.css' type='text/css' media='all'>

<script type="text/javascript" src="<{$xoops_url}>/modules/tadtools/fancyBox/source/jquery.fancybox.js"></script>
<script type="text/javascript" src="class/jquery.bxslider/jquery.bxslider.js"></script>


<script>
$(document).ready(function(){
  $('.slider1').bxSlider({
    slideWidth: 120,
    minSlides: 2,
    maxSlides: 12,
    slideMargin: 10
  });
  $(".exif").fancybox();
});
</script>


<{$del_js}>

<div class="row-fluid">
  <div class="span12">
    <{$path}>

    <div class="row-fluid">
      <div class="span6">
        <h1><{$title}></h1>
        <p><{$description}></p>
      </div>
      <div class="span6" style="text-align:right;vertical-align:bottom;">

        <div style="float:right">
        <{$push}>
        </div>
        
        <{$sel_size}>
        <a class="exif fancybox.ajax" href="exif.php?sn=<{$sn}>"><img src="images/exif.png" style="margin:3px 2px 0px 0px;"></a>

      </div>
      <a name="photo<{$sn}>"></a>
    </div>



    <{if $width > $height}>
      <div class="row-fluid" style="background-color:#FBFBFB;">
        <div class="span1" style="text-align:right;">
          <{if $back}><a href="view.php?sn=<{$back}>#photo<{$back}>"><img src="images/left.png" style="margin-top:100px;"></a><{/if}>
        </div>
        <div class="span10 text-center">
          <img src="<{$photo_l}>" class="img-polaroid">
        </div>
        <div class="span1">
          <{if $next}><a href="view.php?sn=<{$next}>#photo<{$next}>"><img src="images/right.png" style="margin-top:100px;"></a><{/if}>
        </div>
      </div>
      <{else}>
      <div class="row-fluid" style="background-color:#FBFBFB;">
        <div class="span2" style="text-align:right;">
          <{if $back}><a href="view.php?sn=<{$back}>#photo<{$back}>"><img src="images/left.png" style="margin-top:100px;"></a><{/if}>
        </div>

        <div class="span8">
          <img src="<{$photo_l}>" class="img-polaroid">
        </div>

        <div class="span2">
          <{if $next}><a href="view.php?sn=<{$next}>#photo<{$next}>"><img src="images/right.png" style="margin-top:100px;"></a><{/if}>
        </div>
      </div>
      <{/if}>


    <div class="row-fluid">
      <div class="slider1 span12">
        <{foreach item=slide from=$slides1}>
          <div class="slide"><a href="view.php?sn=<{$slide.sn}>#photo<{$slide.sn}>" class="thumbnail"><img src="<{$slide.thumb}>"></a></div>
        <{/foreach}>

        <{foreach item=slide from=$slides2}>
          <div class="slide"><a href="view.php?sn=<{$slide.sn}>#photo<{$slide.sn}>" class="thumbnail"><img src="<{$slide.thumb}>"></a></div>
        <{/foreach}>
      </div>
    </div>



    <{$tabs}>
    <{$facebook_comments}>
    <div class="row-fluid">
      <{$commentsnav}>
      <{$lang_notice}>


      <div style="margin: 3px; padding: 3px;">
      <!-- start comments loop -->
      <{if $comment_mode == "flat"}>
        <{include file="db:system_comments_flat.html"}>
      <{elseif $comment_mode == "thread"}>
        <{include file="db:system_comments_thread.html"}>
      <{elseif $comment_mode == "nest"}>
        <{include file="db:system_comments_nest.html"}>
      <{/if}>
      <!-- end comments loop -->
      </div>
    </div>
  </div>
</div>