<{$bootstrap}>
<p>
<{$toolbar}>
</p>

<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadgallery/module.css" />

<{$del_js}>

<div class="row-fluid">
  <div class="span12">
    <{$path}>
    <img src="<{$photo_l}>" class="img-polaroid">
    <div class="row-fluid">
      <div class="span6"><{$sel_size}></div>
      <div class="span6"><{$push}></div>
    </div>
    <{$tabs}>
    <{$facebook_comments}>
    <div class="row-fluid">
      <{$commentsnav}>
      <{$lang_notice}>


      <div style="margin: 3px; padding: 3px;">
      <!-- start comments loop -->
      <{if $comment_mode == "flat"}>
        <{include file="db:system_comments_flat.html"}>
      <{elseif $comment_mode == "thread"}>
        <{include file="db:system_comments_thread.html"}>
      <{elseif $comment_mode == "nest"}>
        <{include file="db:system_comments_nest.html"}>
      <{/if}>
      <!-- end comments loop -->
      </div>
    </div>
  </div>
</div>
